{% extends "base.html" %}

{% block content %}
    <h2>Bookmarks</h2>
    <br><br>
    <ul>
        {% for bookmark in object_list %}
            <li>
             [ {{ question.rating }} <a href="/api/upvote/{{ questin.pk }} ">&#8593; </a> ]
             {{ question.question }} - <a href="/question/{{ question.id }}">more...</a>
             - by <a href="/user/{{ question.author.name }}">{{ question.author.name }}</a>
            </li> <tt>(views: {{ question.views }}, published: {{ question.pub_date | date }})</tt>
            tags: {% for tag in question.tags.all %} {{ tag }} {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}