{% extends "base.html" %}

{% load likes_inclusion_tags %}

{% block content %}
    <h2>Questions</h2> ( <a href="{% url 'questions_popular' %}">popular</a> |  <a href="{% url 'questions_latest' %}">latest</a>  )
    <br><br>
    <ul>
        {% for question in object_list %}
            <li>
             [ {{ question.rating }} {% likes question %} &#8593; </a> ]
             {{ question.question }} - <a href="/question/{{ question.id }}">more...</a>
             - by <a href="/user/{{ question.author.name }}">{{ question.author.name }}</a>
            </li> <tt>(views: {{ question.views }}, published: {{ question.pub_date | date }})</tt>
            tags: {% for tag in question.tags.all %} {{ tag }} {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}

